body {
    background-image: url('assets/background.jpg'); /* Путь к фоновому изображению */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}
.login-container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    margin-top: 100px;
}
.login-container h1 {
    color: #333;
}
.login-form input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-form button {
    width: 90%;
    padding: 10px;
    background-color: #3498db; /* Голубой цвет кнопки */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.login-form button:hover {
    background-color: #2980b9; /* Голубой цвет при наведении */
}
/* Для иконки человечка */
.icon-input:nth-child(1)::before {
    content: "\f007"; /* Юникод-символ иконки человечка */
    font-family: FontAwesome; /* Подключите шрифт со значками (FontAwesome, например) */
    position: absolute;
    margin: 0;
    padding: 10px;
    color: #3498db; /* Цвет иконки */
}

/* Для иконки с замком */
.passInput::before {
    content: "\f023"; /* Юникод-символ иконки с замком */
    font-family: FontAwesome; /* Подключите шрифт со значками (FontAwesome, например) */
    position: absolute;
    margin: 0;
    padding: 10px;
    color: #3498db; /* Цвет иконки */
}

