.btn {
    border: none;
    border-radius: 100px;
    padding: 8px 12px 8px 12px;
    font-size: 14px;
    cursor: pointer;
    min-height: 44px;
    min-width: 108px;
  }

  .btn-prima {
    color: white;
    background-color: #31C48D;
  }

  .btn-prima:hover {
    background-color: #0E9F6E;
  }

  .btn-error {
    color: white;
    background-color: #F05252;
  }

  .btn-error:hover {
    background-color: #E02424;
  }

  .btn-common {
    color: #718096;
    background-color: #f4f2f2;
  }

  .btn-secondary {
    color: #718096;
    background-color: #FFFFFF;
    border: 1px solid #CBD5E0;
  }

  .btn-common:hover {
    color: #424b58;
    background-color: #dddddd;

  }
  
  .page-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    border-radius: 40px 0px 0px 40px;
    background: #F7FAFC;
    padding: 40px;
  }

  .page-content {
    width: 100%;
    height: 100%;
  }

  .common-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  
  .common-table th, .common-table td {
    padding: 14px;
    text-align: left;
    border-bottom: 1px solid #f7f5f5;; 
  }
  
  .common-table th {
    background-color: #EDF2F7;
    color: #383535;
  }

  .common-table tbody tr {
    cursor: pointer;
  }
  
  .common-table tbody tr:hover {
    opacity: 70%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .lil-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .lil-icon:hover {
    color: #f7f5f5;
  }

  .modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 280px;
    background-color: #F9FAF6;
  }
  
  .modal-header {
    padding: 15px;
    display: flex;
  }
  
  .modal-header {
    position: relative;
    border-bottom: 1px solid #eeeeee;
    color: #4AAE9B;
    justify-content: space-between;
  }
  
  .modal-body {
    padding: 20px 10px;
  }
  
  .modal-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end; /* Этот стиль выровняет все элементы вправо */
    align-items: center; /* Центрирует элементы по вертикали */
  }
  
  .modal-footer button {
    margin-right: 5px;
  }