.btn {
    border: none;
    border-radius: 100px;
    padding: 8px 12px 8px 12px;
    font-size: 14px;
    cursor: pointer;
    min-height: 44px;
    min-width: 108px;
  }

  .btn-prima {
    color: white;
    background-color: #31C48D;
  }

  .btn-prima:hover {
    background-color: #0E9F6E;
  }

  .btn-common {
    color: #718096;
    background-color: #f4f2f2;
  }

  .btn-secondary {
    color: #718096;
    background-color: #FFFFFF;
    border: 1px solid #CBD5E0;
  }

  .btn-common:hover {
    color: #424b58;
    background-color: #dddddd;

  }
  
  .page-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    border-radius: 40px 0px 0px 40px;
    background: #F7FAFC;
    padding: 40px;
  }

  .page-content {
    width: 100%;
    height: 100%;
  }

  .common-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  
  .common-table th, .common-table td {
    padding: 14px;
    text-align: left;
    border-bottom: 1px solid #f7f5f5;; 
  }
  
  .common-table th {
    background-color: #EDF2F7;
    color: #666952;  
  }

  .common-table tbody tr {
    cursor: pointer;
  }
  
  .common-table tbody tr:hover {
    opacity: 70%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .icon-trash {
    width: 20px;
    cursor: pointer;
  }
  
  .icon-trash:hover {
    color: #f7f5f5;
  }